In [1]:
import pandas as pd
import wrangle

In [2]:
df = pd.read_csv('anonymized-curriculum-access.txt', sep=' ', header=None)

In [6]:
df.head(2)

            0         1        2  3    4             5
0  2018-01-26  09:55:03        /  1  8.0  97.105.19.61
1  2018-01-26  09:56:02  java-ii  1  8.0  97.105.19.61

In [9]:
df = df.rename(columns={0:'date',1:'time',2:'page',3:'user', 4:'cohort',5:'ip' })

In [10]:
df.head()

,date,time,page,user,cohort,ip
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61

In [14]:
# this is the code that begins to awser question #1
df.page.value_counts().head(10)

page
/                           50313
search/search_index.json    19519
javascript-i                18983
toc                         18297
java-iii                    13733
html-css                    13635
java-ii                     12685
spring                      12524
jquery                      11525
mysql                       11033
Name: count, dtype: int64

In [ ]:
df

In [18]:
# this code gets the awnser to number one entirely
# size allows us to get the counts for two 
q_one = df.groupby(['cohort', 'page']).size().reset_index(name='count')

In [ ]:
q_one

In [26]:
# can use basketball deep learnign code to break the cohorts apart and comare their top 5 taht way
q_one.sort_values(by='count', ascending=False).head(20)

       cohort                      page  count
5922     28.0                         /   6340
11247    59.0                         /   2980
4528     24.0                         /   2101
9731     53.0                         /   2038
8643     34.0                         /   1967
12221    62.0                       toc   1866
3576     22.0                         /   1828
7038     28.0              javascript-i   1817
7325     29.0                         /   1798
10680    57.0                         /   1727
9991     55.0                         /   1712
11941    62.0                         /   1696
8342     33.0                         /   1653
4120     23.0                         /   1641
10633    56.0  search/search_index.json   1497
9176     51.0                         /   1467
7635     29.0                       toc   1465
7220     28.0                    spring   1403
7024     28.0                  java-iii   1393
8609     33.0  search/search_index.json   1380

## 4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldnâ€™t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?