In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('anonymized-curriculum-access.txt', sep=' ', header=None)

In [6]:
df.head(2)

            0         1        2  3    4             5
0  2018-01-26  09:55:03        /  1  8.0  97.105.19.61
1  2018-01-26  09:56:02  java-ii  1  8.0  97.105.19.61

In [9]:
df = df.rename(columns={0:'date',1:'time',2:'page',3:'user', 4:'cohort',5:'ip' })

In [10]:
df.head()

,date,time,page,user,cohort,ip
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61

In [11]:
df.groupby

date        time      page                                    user  cohort  ip
2020-04-05  17:41:11  slides/arrays                           570   53.0    172.124.67.93     12
            17:41:10  slides/arrays                           570   53.0    172.124.67.93     10
            17:42:00  slides/arrays                           570   53.0    172.124.67.93     10
            17:41:09  slides/arrays                           570   53.0    172.124.67.93      9
2020-07-05  11:58:53  /                                       580   55.0    107.77.217.143     8
                                                                                              ..
2021-04-21  16:18:06  html-css/css-ii/bootstrap-introduction  937   138.0   107.158.15.67      1
            16:18:09  html-css/css-ii/bootstrap-grid-system   937   138.0   107.158.15.67      1
            16:20:26  html-css/css-ii/bootstrap-grid-system   922   138.0   68.206.162.6       1
            16:20:47  html-css/css-ii/bootstrap-grid-system   925   138.0   70.121.221.55      1
            16:23:53  /                                       143   133.0   173.174.194.60     1
Name: count, Length: 843811, dtype: int64