In [1]:
import pandas as pd
import wrangle

In [2]:
df = pd.read_csv('anonymized-curriculum-access.txt', sep=' ', header=None)

In [6]:
df.head(2)

            0         1        2  3    4             5
0  2018-01-26  09:55:03        /  1  8.0  97.105.19.61
1  2018-01-26  09:56:02  java-ii  1  8.0  97.105.19.61

In [9]:
df = df.rename(columns={0:'date',1:'time',2:'page',3:'user', 4:'cohort',5:'ip' })

In [10]:
df.head()

,date,time,page,user,cohort,ip
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61

In [14]:
# this is the code that begins to awser question #1
df.page.value_counts().head(10)

page
/                           50313
search/search_index.json    19519
javascript-i                18983
toc                         18297
java-iii                    13733
html-css                    13635
java-ii                     12685
spring                      12524
jquery                      11525
mysql                       11033
Name: count, dtype: int64

In [ ]:
df

In [15]:
# this code gets teh awnser to number one entirely
# size allows us to get the counts for two 
df.groupby(['cohort', 'page']).size().reset_index(name='count')

       cohort                                         page  count
0         1.0                                            /    626
1         1.0                  0_Classification_Algorithms      1
2         1.0                              2.0_Intro_Stats      1
3         1.0                         5.0_Intro_Regression      2
4         1.0                         7.0_Intro_Clustering      2
...       ...                                          ...    ...
13560   139.0                                       jquery      4
13561   139.0  jquery/essential-methods/attributes-and-css      1
13562   139.0                     search/search_index.json      9
13563   139.0                                       spring      2
13564   139.0                                          toc    101

[13565 rows x 3 columns]