In [1]:
import pandas as pd
import wrangle as w

In [4]:
df = w.import_logs()
df.head()

,0,1,2,3,4,5
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61

In [5]:
df = w.clean_df()
df.head()

,date,time,page,user,cohort,ip
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61

# 1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?

In [10]:
cohort = df.cohort.value_counts()
cohort.shape

(47,)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900223 entries, 0 to 900222
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    900223 non-null  object
 1   time    900223 non-null  object
 2   page    900222 non-null  object
 3   user    900223 non-null  int64
 4   cohort  847330 non-null  float64
 5   ip      900223 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 41.2+ MB

In [15]:
df['datetime'] = pd.to_datetime(df['date'] + ' ' + df['time'])
df.info(), df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900223 entries, 0 to 900222
Data columns (total 7 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   date      900223 non-null  object
 1   time      900223 non-null  object
 2   page      900222 non-null  object
 3   user      900223 non-null  int64
 4   cohort    847330 non-null  float64
 5   ip        900223 non-null  object
 6   datetime  900223 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 48.1+ MB

(None,
          date      time                                 page  user  cohort  \
 0  2018-01-26  09:55:03                                    /     1     8.0
 1  2018-01-26  09:56:02                              java-ii     1     8.0
 2  2018-01-26  09:56:05  java-ii/object-oriented-programming     1     8.0
 3  2018-01-26  09:56:06   slides/object_oriented_programming     1     8.0
 4  2018-01-26  09:56:24            javascript-i/conditionals     2    22.0

              ip            datetime
 0  97.105.19.61 2018-01-26 09:55:03
 1  97.105.19.61 2018-01-26 09:56:02
 2  97.105.19.61 2018-01-26 09:56:05
 3  97.105.19.61 2018-01-26 09:56:06
 4  97.105.19.61 2018-01-26 09:56:24  )

In [16]:
# this code gets teh awnser to number one entirely
# size allows us to get the counts for two 
 df.groupby(['cohort', 'page']).size().reset_index(name='count')

       cohort                                         page  count
0         1.0                                            /    626
1         1.0                  0_Classification_Algorithms      1
2         1.0                              2.0_Intro_Stats      1
3         1.0                         5.0_Intro_Regression      2
4         1.0                         7.0_Intro_Clustering      2
...       ...                                          ...    ...
13560   139.0                                       jquery      4
13561   139.0  jquery/essential-methods/attributes-and-css      1
13562   139.0                     search/search_index.json      9
13563   139.0                                       spring      2
13564   139.0                                          toc    101

[13565 rows x 3 columns]