In [1]:
import warnings
warnings.filterwarnings("ignore")

import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import os
import itertools

# DBSCAN import
from sklearn.cluster import DBSCAN

# Scaler import
from sklearn.preprocessing import MinMaxScaler

In [2]:
# Loading a few lines of the file to understand its structure
file_path = 'anonymized-curriculum-access.txt'

In [3]:
df = pd.read_csv(file_path, sep=' ')

In [4]:
df.head()

,2018-01-26,09:55:03,/,1,8,97.105.19.61
0,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
1,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
2,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
3,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61
4,2018-01-26,09:56:41,javascript-i/loops,2,22.0,97.105.19.61

In [5]:
df.shape

(900222, 6)

# 1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?

In [6]:
df = df.rename(columns={'2018-01-26': 'Date', '09:55:03	': 'timestamp', '/': 'Webpage_accessed', '1' : 'user_Id', '8' : 'Cohort_Id', '97.105.19.61' :'IP_adress'})
df.head()

,Date,09:55:03,Webpage_accessed,user_Id,Cohort_Id,IP_adress
0,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
1,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
2,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
3,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61
4,2018-01-26,09:56:41,javascript-i/loops,2,22.0,97.105.19.61

In [8]:
df.IP_adress.value_counts().head()

IP_adress
97.105.19.58       284579
97.105.19.61        61661
192.171.117.210      9515
71.150.217.33        6791
76.185.145.231       4754
Name: count, dtype: int64